img {
display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: .5rem;
}

.athleteDetails {
    line-height: 2.1rem;
    font-size: 1.2rem;
}

.athleteDetailsHeader {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.fanInfo {
  display: none;
}

.stalkerAddButton {
  background-color: #4d4d4d;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 5px #0f0f0f;
  transition: all 0.2s ease-in-out;
  margin-right: 4rem;
  margin-top: 3rem;
  overflow: hidden;
  animation: wiggle 2s linear infinite;

}



.athleteDetailsHeader {
  transform: translateX(-100%);
  animation: slideIn 2s forwards;
  font-size: 2.5rem;

}

.editFormButton {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}



@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}